@page "/ListCampaigns"

@using CampaignManagementTool.Client.Components;
@using CampaignManagementTool.Client.Components.Tables;
@using CampaignManagementTool.Client.Services;
@using CampaignManagementTool.Shared;
@using CampaignManagementTool.Client.Components.Inputs
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager NavigationManager;
@inject CampaignClientService CampaignService;

<header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">List Campaigns</h1>
    </div>
</header>
<main>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mt-8 flow-root">
            <div class="mb-4">
                <InputText @bind-Value="_searchQuery" Placeholder="Search Campaigns..." />
                <Button OnClick="() => FilterSearch()" class="ml-2">Search</Button>
                <Button OnClick="() => ResetSearch()" class="ml-2">Reset</Button>
                <div class="flex justify-end">
                    <div class="absolute ml-4">
                        <div>
                            <Button OnClick="() => ToggleDropdown()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Sort By
                            </Button>
                        </div>
                        @if (isDropdownOpen)
                        {
                            <div class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-10">
                                <div class="py-2 flex flex-col space-y-2 items-center">
                                    <Button OnClick='() => SortCampaigns("sort1")'>Alphabetical Asc.</Button>
                                    <Button OnClick='() => SortCampaigns("sort2")'>Alphabetical Desc.</Button>
                                    <Button OnClick='() => SortCampaigns("sort3")'>Expiry Date Asc.</Button>
                                    <Button OnClick='() => SortCampaigns("sort4")'>Expiry Date Desc.</Button>
                                    <!-- Add more sorting options as needed -->
                                </div>
                            </div>
                        }
                    </div>
                </div>


                <div class="dropdown ml-auto">
                    <label for="filterTitle"><strong>Filters</strong></label>
                    <div class="dropdown-menu" aria-labelledby="filterDropdown">
                        <form>
                            <div class="form-check">
                                <input type="radio" id="filter0" name="filter" checked="@(_selectedFilter == "filter0")" @onchange='(e) => HandleFilterChange(e, "filter0")' />
                                <label for="filter0">All Campaigns</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="filter1" name="filter" @onchange='(e) => HandleFilterChange(e, "filter1")' />
                                <label for="filter1">Approval Required</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="filter2" name="filter" @onchange='(e) => HandleFilterChange(e, "filter2")' />
                                <label for="filter2">No Approval Required</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="filter3" name="filter" @onchange='(e) => HandleFilterChange(e, "filter3")' />
                                <label for="filter3">Active</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="filter4" name="filter" @onchange='(e) => HandleFilterChange(e, "filter4")' />
                                <label for="filter4">Deleted</label>
                            </div>
                            <!-- More filters can be added here -->
                        </form>
                    </div>
                </div>

            </div>
            

            <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    @if (_campaigns != null)
                    {
                        <Table>
                            <TableHead>
                                <TableRow>
                                    <TableHeader>Code</TableHeader>
                                    <TableHeader>Affiliate</TableHeader>
                                    <TableHeader>Requires Approval</TableHeader>
                                    <TableHeader>Rules URL</TableHeader>
                                    <TableHeader>Expiry Date</TableHeader>
                                    <TableHeader>Deleted</TableHeader>
                                    <TableHeader>Edit</TableHeader>
                                </TableRow>
                            </TableHead>
                            <TableBody>
                                @foreach (var c in _filteredCampaigns)
                                {
                                    <TableRow>
                                        <TableColumn>@c.CampaignCode</TableColumn>
                                        <TableColumn>@c.AffiliateCode</TableColumn>
                                        <TableColumn>@c.RequiresApproval.ToString()</TableColumn>
                                        <TableColumn>@c.RulesUrl</TableColumn>
                                        <TableColumn>@DateTime.ParseExact(c.ExpiryDays, "yyyy-MM-dd", null, System.Globalization.DateTimeStyles.None).ToString("dd/MM/yyyy")</TableColumn>
                                        <TableColumn>@c.isDeleted</TableColumn>
                                        <TableColumn><Button OnClick="() => OpenCampaign(c)">Edit</Button> </TableColumn>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>
                    }
                    else
                    {
                        <div class="flex justify-center">
                            <LoadingSpinner></LoadingSpinner>
                        </div>
                    }
                </div>
            </div>
            <div>
                

                <Button OnClick="() => ExportToCsvButton(false)" >
                    Export to CSV
                </Button>

            </div>
        </div>
    </div>
</main>

@code {
    private List<Campaign>? _campaigns;
    private List<Campaign>? _filteredCampaigns;
    private SearchFilters _searchFilter;
    private string _searchQuery = "";
    private string _selectedFilter = "filter0";
    private string _sortString = "";
    private System.Timers.Timer _expiryCheckTimer;
    private bool isFiltered = false;
    private bool isDropdownOpen = false;

    protected override async Task OnInitializedAsync()
    {
        _campaigns = await CampaignService.GetAllAsync();
        _searchFilter = new SearchFilters();
        _filteredCampaigns = _campaigns;

        _expiryCheckTimer = new System.Timers.Timer();
        _expiryCheckTimer.Interval = TimeSpan.FromSeconds(30).TotalMilliseconds;
        _expiryCheckTimer.AutoReset = true;
        _expiryCheckTimer.Elapsed += async (sender, e) => await ReloadPage();
        _expiryCheckTimer.Start();

        await base.OnInitializedAsync();
    }

    private void OpenCampaign(Campaign c)
    {
        NavigationManager.NavigateTo($"EditCampaign/{c.CampaignCode}");
    }

    private async void ExportToCsvButton(bool isSingleCampaign)
    {
        var response = await CampaignService.ExportToCsvAsync(isSingleCampaign);
    }

    private async Task FilterSearch()
    {
        //Set filter
        switch (_selectedFilter)
        {
            case "filter1":
                _searchFilter.Filter = 1;
                break;
            case "filter2":
                _searchFilter.Filter = 2;
                break;
            case "filter3":
                _searchFilter.Filter = 3;
                break;
            case "filter4":
                _searchFilter.Filter = 4;
                break;
            default:
                _searchFilter.Filter = 0;
                break;
        }

        //Set sort
        switch (_sortString)
        {
            case "sort1":
                _searchFilter.Sort = 1;
                break;
            case "sort2":
                _searchFilter.Sort = 2;
                break;
            case "sort3":
                _searchFilter.Sort = 3;
                break;
            case "sort4":
                _searchFilter.Sort = 4;
                break;
            default:
                _searchFilter.Sort = 0;
                break;
        }


        //Set search
        if (string.IsNullOrWhiteSpace(_searchQuery) && _searchFilter.Filter.Equals(0) && _searchFilter.Sort.Equals(0))
        {
            _filteredCampaigns = _campaigns;
            isFiltered = false;
        }
        else
        {
            isFiltered = true;
            _searchFilter.Search = _searchQuery;
            _filteredCampaigns = await CampaignService.CampaignSearchFilterAsync(_searchFilter);
        }

        StateHasChanged();
    }

    private void ResetSearch()
    {
        _searchQuery = "";
        _selectedFilter = "filter0";
        _filteredCampaigns = _campaigns;
        _sortString = "";
    }

    private void HandleFilterChange(ChangeEventArgs e, string filterID)
    {
        _selectedFilter = filterID;
    }

    private async Task ReloadPage()
    {
        if (!isFiltered)
        {
            _filteredCampaigns = await CampaignService.GetAllAsync();
        }
        else
        {
            await FilterSearch();    
        }
        Console.WriteLine("Page Reloaded");
        StateHasChanged();
    }

    private void ToggleDropdown()
    {
        if (isDropdownOpen)
        {
            isDropdownOpen = false;    
        }
        else
        {
            isDropdownOpen = true;
        }
        StateHasChanged();
    }

    private void SortCampaigns(string sortInput)
    {
        _sortString = sortInput;
        ToggleDropdown();
    }
}